<div id="{{ page.id }}" class="modular-row bg-{{ page.header.style|defined('light') }} {{ page.header.classes }}">
    <div class="container">
        <div class="content text-{{ page.header.text_align|default('center') }}">
            {{ content }}
        </div>
        <div class="row justify-content-center bars">
            {% for bar in page.header.bars %}
                <div class="col-12 py-3">
                    <span class="text">{{ bar.text }}</span>
                    <div class="progress">
                        <div class="progress-bar bg-{{ bar.style|default('primary') }} {{ bar.classes|default(page.header.bars_classes) }}"
                             role="progressbar" style="width: {{ bar.value|default(0) }}%" aria-valuenow="{{ bar.value|default(0) }}"
                             aria-valuemin="0" aria-valuemax="100">
                            {% if not page.header.hide_label %}
                                {{ bar.value }}{{ page.header.suffix|default('%') }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>