{% import "macros/bootstrap_tools.html.twig" as bsTools %}

{% if page.collection()|length > 0 %}
    {% set collection = page.collection() %}
{% elseif page.header.show_more is defined %}
    {# Fallback collection from show_more page #}
    {% set collection = page.collection({ items: {'@page.children': page.header.show_more }, order: {'by': 'date', 'dir': 'desc'}, visible: true }) %}
{% else %}
    {% set collection = null %} {# Satinizing #}
{% endif %}

<div class="modular-row blog-modular {{ bsTools.style(page.header.style) }} {{ page.header.classes }}">
  <div class="container text-{{ page.header.text_align|defined('center') }}">
      {{ content }}
  </div>
  <div class="container-fluid">
    <div class="row items">
        {% for child in collection %}
            {% include 'partials/layouts/' ~ page.header.layout|defined('boxed') ~ '.html.twig' with {'parent': page, 'page': child } %}
        {% endfor %}
    </div>

      {% if page.header.show_more %}
          {% set show_more_page = page.find(page.header.show_more) %}
        <div class="row show-more">
          <div class="col-12 text-center">
            <a href="{{ show_more_page.url(true) }}"
               class="btn btn-lg {{ bsTools.buttonStyle(page.header.style|defined('light'), true, true) }}">
                {{ 'BOOTSTRAP_BLOG.MODULAR.SEE_MORE_IN'|t(show_more_page.title) }}
            </a>
          </div>
        </div>
      {% endif %}
  </div>
</div>
