<div class="modular-row {% if page.header.style %}{{ 'bg-' ~ page.header.style }}{% endif %} {{ page.header.classes }}">
    <div class="container">
        <div class="content {{ 'text-' ~ page.header.text_align|default('center') }}">
            {{ content }}
        </div>
        <div class="row justify-content-center">
            {% for feature in page.header.features %}
                <div class="col-12 col-md-3 feature">
                    {% if feature.icon %}
                        {% set feature_color = '' %}
                        {% if feature.color %}
                            {% set feature_color = 'style="color: ' ~ feature.color ~ '"' %}
                        {% endif %}
                        {% set feature_icon = '<i class="' ~ feature.icon_group|defined('fas') ~ ' fa-3x fa-' ~ feature.icon ~ '" ' ~ feature_color ~'></i>' %}
                            <div class="feature-icon text-{{ feature.style|defined('primary') }}"}>
                                {% if feature.url %}
                                    <a href="{{ feature.url }}" class="stretched-link">{{ feature_icon }}</a>
                                {% else %}
                                    {{ feature_icon }}
                                {% endif %}
                            </div>
                    {% endif %}
                    <div class="feature-content">
                        <h4>{{ feature.title }}</h4>
                        <p>{{ feature.text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
