<div class="modular-row py-5 {{ 'bg-' ~ page.header.style }} {{ page.header.classes }}">
  <div class="container">
    <div class="row">
      <div class="content {{ 'col-' ~ page.header.cols|defined('12') }} {{ 'text-' ~ page.header.text_align|defined('center') }}">
          {{ content }}
      </div>
      <div class="col form">
          {% include "forms/form.html.twig" %}
      </div>
    </div>
  </div>
</div>