{# Showcase template - Bootstrap Blog - Customs image filters are supported from Grav Twig Media Tools!** #}
{% import "macros/bootstrap_tools.html.twig" as bsTools %}

{% set showcase_image_width  = page.header.image_width|defined(1200) %}
{% set showcase_image_height = page.header.image_height|defined(800) %}
{% set showcase_image_file = page.header.image_file %}
{% set showcase_image_actions = page.header.image_actions %}

{% if showcase_image_file %}
    {% set showcase_image = page.media.images[showcase_image_file] %}
{% else %}
    {% set showcase_image = page.media.images|first %}
{% endif %}

{% if showcase_image %}
    {% if showcase_image_actions %}
        {% for key, arg in showcase_image_actions %}
            {% set showcase_image = attribute( showcase_image, key, arg|split(',')|default([]) ) %}
        {% endfor %}
    {% else %}
        {% set showcase_image = showcase_image.cropResize(showcase_image_width,showcase_image_height).contrast(20).brightness(-80).gaussianBlur(1.5) %}
    {% endif %}
<div class="modular-row showcase text-{{ page.header.style|defined('light') }}" style="background-image: url({{ showcase_image.url }});">
    {% else %}
    <div class="modular-row box-inset-shadow showcase-text {{ bsTools.style(page.header.style|defined('primary')) }}">
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col text-{{ page.header.text_align|defined('center') }}">
                    {{ content }}
                    {{ bsTools.buttons(page.header.buttons, page.header.style, true, false, 'light') }}
                </div>
            </div>
        </div>
    </div>
</div>
