<div id="{{ page.id }}" class="modular-row bg-{{ page.header.style|defined('light') }} {{ page.header.classes }}">
    <div class="container">
        <div class="content text-{{ page.header.text_align|default('center') }}">
            {{ content }}
        </div>
        <div class="row justify-content-center skills">
            {% for skill in page.header.skills %}
                <div class="col-12 py-3">
                    <span class="text">{{ skill.text }}</span>
                    <div class="progress">
                        <div class="progress-bar bg-{{ skill.style|default('primary') }} {{ skill.classes|default(page.header.progress_classes) }}"
                             role="progressbar" style="width: {{ skill.value|default(0) }}%" aria-valuenow="{{ skill.value|default(0) }}"
                             aria-valuemin="0" aria-valuemax="100">
                            {% if not page.header.hide_label %}
                                {{ skill.value }}{{ page.header.suffix|default('%') }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>