{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% import "macros/bootstrap_tools.html.twig" as bsTools %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'partials/metadata.html.twig' %}
        {% set favicon = theme_config.favicon ? theme_config.favicon|first : { type:'image/png', path: url('theme://images/logo.png') } %}
        <link rel="icon" type="{{ favicon.type }}" href="{{ url( favicon.path ) }}"/>
        <link rel="canonical" href="{{ page.url(true, true) }}"/>

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}

        {% block assets deferred %}
            {{ assets.css()|raw }}
            {{ assets.js()|raw }}
        {% endblock %}
    {% endblock head %}
</head>
<body id="top" class="{{ page.header.body_classes }}{% if theme_config.navbar.sticky %} sticky{% endif %}">
{% block header %}
    <nav class="navbar navbar-expand-md {{ bsTools.navbarStyle(page.header.style, theme_config.navbar.style, theme_config.navbar.override_page_style)|trim }} {% if theme_config.navbar.sticky %}fixed-top{% endif %}"
         role="navigation"
         {% if theme_config.navbar.background_color %}style="background-color:{{ theme_config.navbar.background_color }}"{% endif %}>
        <a class="navbar-brand" href="{{ base_url == '' ? '/' : base_url }}">
            {% if theme_config.navbar.image %}
                {% set navbar_image = theme_config.navbar.image|first %}
                <img class="d-inline-block align-center" src="{{ url(navbar_image.path) }}" alt=""/>
            {% endif %}
            {% if theme_config.navbar.icon %}
                <i class="fas fa-{{ theme_config.navbar.icon }}"></i>
            {% endif %}
            {% if theme_config.navbar.display_site_name %}
                {{ config.site.title }}
            {% endif %}
        </a>
        {% if config.plugins.langswitcher.enabled %}
            {% include 'partials/langswitcher.html.twig' %}
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            {% block header_navigation %}
                {% include 'partials/navigation.html.twig' %}
            {% endblock %}
        </div>
    </nav>
{% endblock %}

{% block body %}
    {% block content %}{% endblock %}
{% endblock %}

{% block footer %}
    <footer class="footer {{ bsTools.style(theme_config.footer.style) }}">
        <div class="container">
            <div class="d-flex flex-row justify-content-center">
                {% if theme_config.footer.legal %}
                    <div class="footer-legal mr-auto">{{ theme_config.footer.legal|raw }}</div>
                {% endif %}
                <div class="footer-text">{{ theme_config.footer.text|raw }}</div>
            </div>
        </div>
    </footer>
{% endblock %}
{% if theme_config.back_to_top_button %}
    <a id="back-to-top" href="#" class="btn btn-{{ page.header.style|defined('primary') }} btn-lg back-to-top" role="button" title="{{ 'BOOTSTRAP_BLOG.RETURN_TOP_PAGE'|t }}" data-toggle="tooltip"
       data-placement="left"><span class="fas fa-chevron-up"></span></a>
{% endif %}
{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}
</body>
</html>