{% set pagination = pagination|default(page.collection.params.pagination) %}
{% set base_url = base_url|default(page.url) %}

{% if pagination|length > 1 %}

<ul class="pagination justify-content-center">
    {% if pagination.hasPrev %}
        {% set url =  (base_url ~ pagination.params ~ pagination.prevUrl)|replace({'//':'/'}) %}
        <li class="page-item"><a rel="prev" class="page-link" href="{{ url }}">&laquo;</a></li>
    {% else %}
        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}

    {% for paginate in pagination %}

        {% if paginate.isCurrent %}
            <li class="page-item active"><span class="page-link">{{ paginate.number }}</span></li>
        {% elseif paginate.isInDelta %}
            {% set url = (base_url ~ pagination.params ~ paginate.url)|replace({'//':'/'}) %}
            <li class="page-item"><a class="page-link" href="{{ url }}">{{ paginate.number }}</a></li>
        {% elseif paginate.isDeltaBorder %}
            <li class="page-item"><span class="page-link">&hellip;</span></li>
        {% endif %}

    {% endfor %}
    {% if pagination.hasNext %}
        {% set url = (base_url ~ pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
        <li class="page-item"><a class="page-link" rel="next" href="{{ url }}">&raquo;</a></li>
    {% else %}
        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
</ul>

{% endif %}