{% set header_image_width  = page.header.image_width|defined(1024) %}
{% set header_image_height = page.header.image_height|defined(600) %}  {# Default aspect ratio 2:1 #}
{% set header_image_file = page.header.image_file %}
{% if header_image_file %}
    {% set header_image_media = page.media.images[header_image_file] %}
{% else %}
    {% set header_image_media = page.media.images|first %}
{% endif %}

<div class="item-heading">
	<div class="row">
		<div class="col">
			<time data-toggle="tooltip" title="{{ page.date|date(config.system.pages.dateformat.long) }}" class="text-secondary"
				datetime="{{ page.date|date("c") }}">
				<small><i class="far fa-clock"></i>&nbsp;{{ page.date|date(config.system.pages.dateformat.short) }}</small>
			</time>
		</div>
		{% if config.plugins.readingtime.enabled %}
			<div class="col text-right readingtime">
				<small data-toggle="tooltip" title="{{ 'Reading time' }}" class="text-secondary"><i class="fas fa-book-reader"></i> {{ page.content|readingtime }}</small>
			</div>
		{% endif %}
	</div>
	<h2 class="item-title">
		{% if page.header.link %}
			<a class="btn btn-outline-secondary" href="{{ page.header.link }}" target="_blank"><i class="fas fa-link fa-md"></i></a>
		{% endif %}
		{{ page.title }}
	</h2>
	<div class="item-categories">
		{% for category in page.taxonomy.category %}
			<a data-toggle="tooltip" title="{{ 'BOOTSTRAP_BLOG.TAXONOMY.SEE_OTHER_PAGES_OF'|t(category|capitalize) }}"
			class="badge badge-pill badge-{{ page.header.style|defined('secondary') }} text-uppercase font-weight-normal"
			href="{{ parent.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">{{ category }}</a>
		{% endfor %}
	</div>
</div>
{% if header_image_media and theme_config.item.featured_image %}
	<div class="featured-image text-{{ page.header.header_image_align|defined('center') }}">
		{{ header_image_media.cropResize(header_image_width, header_image_height).html }}
	</div>
{% endif %}
<div class="item-content text-justify">
    {{ page.content }}
</div>
<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Item toolbar buttons">
    {% if page.taxonomy.tag %}
      <div class="item-tags d-inline-block">
        <i class="fas fa-tags text-{{ page.header.style|defined('primary') }}"></i> {{ 'BOOTSTRAP_BLOG.TAXONOMY.TAGS'|t }}:
          {% for tag in page.taxonomy.tag %}
            <a class="btn btn-sm {{ bsTools.buttonStyle(page.header.style, true, false, 'dark') }}"
               href="{{ parent.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
          {% endfor %}
      </div>
    {% endif %}
	<div class="btn-group">
		{% for button in page.header.buttons %}
			<a href="{{ button.url starts with 'http' ? button.url : url(button.url) }}"
			class="btn {{ bsTools.buttonStyle(page.header.style, true, false, 'dark') }} {{ button.class }}">
				{% if button.icon %}
				<i class="fas fa-{{ button.icon }}"></i>
				{% endif %}
				{{ button.text }}
			</a>
		{% endfor %}
	</div>
</div>

{% if theme_config.item.show_prev_next %}
	<div class="d-flex flex-row py-3 mt-3">
		{% if not page.isLast %}
			<a class="btn {{ bsTools.buttonStyle(page.header.style, true, false, 'primary') }}" href="{{ page.prevSibling.url }}"><i
				class="fas fa-chevron-left"></i> {{ 'BOOTSTRAP_BLOG.ITEM.PREVIOUS'|t }}</a>
		{% endif %}
		{% if not page.isFirst %}
			<a class="ml-auto btn {{ bsTools.buttonStyle(page.header.style, true, false, 'primary') }}"
			href="{{ page.nextSibling.url }}">{{ 'BOOTSTRAP_BLOG.ITEM.NEXT'|t }} <i class="fas fa-chevron-right"></i></a>
		{% endif %}
	</div>
{% endif %}

{% if config.plugins.relatedpages.enabled and theme_config.item.related_pages and related_pages|length > 0 %}
    <div class="item-bottom-relatedpages row">
        {% include 'partials/item_relatedpages.html.twig' %}
    </div>
{% endif %}

{% set comments = array_merge(theme_config.comments, page.header.comments|default({})) %}
{% if comments.enabled %}
	<div class="comments">
		{% include 'partials/comments.html.twig' with {'page':page, 'config': comments} %}
	</div>
{% endif %}
