{# Alias to backgroundStyle() #}
{% macro style(style, noTextClass) %}
  {{ _self.backgroundStyle(style, noTextClass)|trim }}
{% endmacro %}

{% macro backgroundStyle(style, noTextClass) %}
  {{ (style ? 'bg-' ~ style) ~ ( noTextClass ?: ' ' ~ _self.textStyle(style)|trim ) }}
{% endmacro %}

{% macro textStyle(style, default) %}
  {% set output = _self.processStyle(style, true, default)|trim %}
  {{ 'text-' ~ output }}
{% endmacro %}

{% macro navbarStyle(style) %}
  {% set output = 'navbar-' %}
  {% if style in ['dark', 'primary', 'danger', 'secondary', 'info', 'success', 'faded'] %}
    {% set output = output ~ 'dark' %}
  {% else %}
    {% set output = output ~ 'light' %}
  {% endif %}
  {{ output ~ ' ' ~ _self.backgroundStyle(style, false)|trim }}
{% endmacro %}

{% macro buttonStyle(style, isOutline, darkOrLight, default, size) %}
  {{ 'btn-' ~ (isOutline ? 'outline-') ~ _self.processStyle(style|defined(default), darkOrLight|defined(true))|trim ~ (size ? ' btn-' ~ size) }}
{% endmacro %}

{% macro processStyle(style, inversed) %}
  {% set output = null %}
  {% if inversed %}
    {% if style in ['primary', 'success', 'danger', 'info', 'dark', 'faded', 'blue', 'indigo', 'purple', 'pink', 'red', 'green', 'teal', 'cyan'] %}
      {% set output = 'light' %}
    {% else %}
      {% set output = 'dark' %}
    {% endif %}
  {% endif %}
  {{ output|defined(style) }}
{% endmacro %}

{% macro button(url, text, icon, style, outline, darkOrLight, default, size, classes) %}
<a href="{{ url starts with 'http' ? url : url(url) }}" alt="{{ text }}" class="btn {{ _self.buttonStyle(style, outline, darkOrLight, default, size)|trim }} {{ classes }}">
  {% if icon %}
    <i class="fas fa-{{ icon }}"></i>
  {% endif %}
  {{ text }}
</a>
{% endmacro %}

{% macro buttons(buttons, style, outline, darkOrLight, default, classes) %}
  {% for button in buttons %}
    {{ _self.button(button.url, button.text, button.icon, style, outline, darkOrLight, default, button.size, classes ) }}
  {% endfor %}
{% endmacro %}
