{# Alias to backgroundStyle() #}
{% macro style(style, noTextClass) %}
    {{ _self.backgroundStyle(style, noTextClass)|trim }}
{% endmacro %}

{% macro backgroundStyle(style, noTextClass) %}
    {{ (style ? 'bg-' ~ style) ~ ( noTextClass ?: ' ' ~ _self.textStyle(style)|trim ) }}
{% endmacro %}

{% macro textStyle(style, default) %}
{% spaceless %}
    {{ 'text-' ~ _self.processStyle(style, true, default)|trim }}
{% endspaceless %}
{% endmacro %}

{% macro navbarStyle(style, default, override_page_style) %}
    {% if not override_page_style %}
        {% set style = default %}
    {% else %}
        {% set style = style|default(default) %}
    {% endif %}
    {% set output = 'navbar-' %}
    {% if style not in ['primary', 'success', 'danger', 'secondary', 'info', 'dark', 'faded', 'blue', 'indigo', 'purple', 'pink', 'red', 'green', 'teal', 'cyan'] %}
        {% set output = output ~ 'light' %}
    {% else %}
        {% set output = output ~ 'dark' %}
    {% endif %}
    {{ output ~ ' ' ~ 'bg-' ~ style }}
{% endmacro %}

{% macro buttonStyle(style, isOutline, darkOrLight, default, size) %}
{% spaceless %}
    {{ 'btn-' ~ (isOutline ? 'outline-') ~ _self.processStyle(style, darkOrLight|defined(true), default)|trim ~ (size ? ' btn-' ~ size) }}
{% endspaceless %}
{% endmacro %}

{% macro processStyle(style, inversed, default) %}
{% spaceless %}
    {% set output = null %}
    {% if inversed %}
        {% if style in ['primary', 'success', 'danger', 'info', 'dark', 'faded', 'blue', 'indigo', 'purple', 'pink', 'red', 'green', 'teal', 'cyan'] %}
            {% set output = 'light' %}
        {% else %}
            {% set output = default|defined('dark') %}
        {% endif %}
    {% endif %}
    {{ output|defined(style)|defined(default) }}
{% endspaceless %}
{% endmacro %}

{% macro button(url, text, icon, style, outline, darkOrLight, default, size, classes) %}
    <a href="{{ url }}" alt="{{ text }}"
        class="btn {{ _self.buttonStyle(style, outline, darkOrLight, default, size)|trim }} {{ classes }}">
        {% if icon %}
            <i class="fas fa-{{ icon }}"></i>
        {% endif %}
        {{ text }}
    </a>
{% endmacro %}

{% macro buttons(buttons, style, outline, darkOrLight, default, classes) %}
    {% for button in buttons %}
        {{ _self.button(button.url, button.text, button.icon, style, outline, darkOrLight, default, button.size, classes)|trim }}
    {% endfor %}
{% endmacro %}
