{% set header_image_width  = page.header.image_width|defined(1024) %}
{% set header_image_height = page.header.image_height|defined(720) %}
{% set header_image_file = page.header.image_file %}
{% if header_image_file %}
  {% set header_image_media = page.media.images[header_image_file] %}
{% else %}
  {% set header_image_media = page.media.images|first %}
{% endif %}

<div class="col-12">
  <div class="card item-boxed">
      {% if header_image_media %}
        <a href="{{ page.url }}">{{ header_image_media.cropResize(header_image_width, header_image_height).html }}</a>
      {% endif %}
    <div class="card-body">
        <div class="card-title">
          <h3 class="title">{{ page.title }}</h3>
          <div class="categories">
          {% for category in page.taxonomy.category %}
            <a class="badge badge-pill badge-{{ page.header.style|defined('secondary') }} text-uppercase font-weight-normal" href="{{ parent.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">{{ category }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="card-text summary">
        {% if page.summary != page.content %}
          {{ page.summary }}
        {% else %}
          {{ page.content }}
        {% endif %}
      </div>
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Item buttons">
        <div class="btn-group" role="group" aria-label="Links">
          <a href="{{ page.url }}" alt="{{ page.title }}" class="btn btn-outline-{{ page.header.style|defined('primary') }}">{{ 'ITEM.CONTINUE_READING'|t}}</a>
          {% if page.header.link %}
            <a class="btn btn-outline-secondary" alt="{{ page.title }}" href="{{ page.header.link }}" target="_blank"><i class="fas fa-link"></i></a>
          {% endif %}
        </div>
        <div class="btn-group" role="group" aria-label="Extra Links">
        {% for button in page.header.buttons %}
          <a href="{{ button.url starts with 'http' ? button.url : url(button.url) }}" class="btn {{ bsTools.buttonStyle(page.header.style|default('dark'), true, false) }} {{ button.class }}">
            {% if button.icon %}
              <i class="fas fa-{{ button.icon }}"></i>
            {% endif %}
            {{ button.text }}
          </a>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="card-footer">
      {% if page.taxonomy.tag %}
        <div class="d-inline tags">
          <span data-toggle="tooltip" data-placement="top" title="{{ 'TAXONOMY.TAGS'|t }}" class="text-{{ page.header.style|defined('primary') }}">
            <i class="fas fa-tags"></i>
          </span>
          {% for tag in page.taxonomy.tag %}
            <a class="text-{{ page.header.style|defined('primary') }}" href="{{ parent.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}{{ not loop.last ? ',' }}</a>
          {% endfor %}
        </div>
      {% endif %}
        <div class="float-right">
          <i class="far fa-clock text-{{ page.header.style|defined('primary') }}"></i>
          <small data-toggle="tooltip" title="{{ page.date|date(config.system.pages.dateformat.long) }}" class="text-secondary">
            {{ page.date|date(config.system.pages.dateformat.short) }}
          </small>
        </div>
    </div>
  </div>
</div>
