{% set header_image_width  = page.header.image_width|defined(640) %}
{% set header_image_height = page.header.image_height|defined(480) %}
{% set header_image_file = page.header.image_file %}
{% if header_image_file %}
    {% set header_image_media = page.media.images[header_image_file] %}
{% else %}
    {% set header_image_media = page.media.images|first %}
{% endif %}

<div class="item-masonry col-12 col-md-6 col-lg-{{ page.header.size|defined('4') }}">
  <div class="card text-{{ page.header.page_text_align|default('center') }}">
      {{ header_image_media.cropResize(header_image_width,header_image_height).html('', '', 'card-img card-raised') }}
    <div
        class="rounded {{ bsTools.style( page.header.style|defined('light') ) }}{% if header_image_media %} card-img-overlay masonry-overlay{% else %}masonry-no-overlay{% endif %}">
      <div class="h-100 d-flex flex-wrap justify-content-center align-items-center">
        <div class="my-auto">
          <h2 class="card-title">{{ page.title }}</h2>
          <p class="categories">
              {% for category in page.taxonomy.category %}
                <a class="{{ bsTools.textStyle(page.header.style, 'dark') }}"
                    href="{{ page.parent.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">{{ category|upper }}</a>{{ not loop.last ? ',' }}
              {% endfor %}
          </p>
          {% if page.taxonomy.tag|length > 0 %}
            <p class="tags"><i class="fas fa-tags"></i>
                {% for tag in page.taxonomy.tag %}
                  <a class="{{ bsTools.textStyle(page.header.style, 'dark') }}"
                      href="{{ page.parent.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>{{ not loop.last ? ',' }}
                {% endfor %}
            </p>
          {% endif %}
          <a href="{{ page.url }}" class="btn {{ 'btn-outline-' ~ bsTools.processStyle(page.header.style, true, 'primary')|trim }} stretched-link">
            {{ page.header.button_text|default('BOOTSTRAP_BLOG.MODULAR.READ_MORE'|t) }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
